{% extends 'layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      Hello Commerce Kitty!
      <i class="fas fa-user"></i>
    </div>
  </div>
{% endblock %}
