{% macro row_start(classes = []) %}
  {% if classes is not iterable %}
    {% set classes = [classes] %}
  {% endif %}
  {% set classes = ['row']|merge(classes) %}
  <div class="{{classes|join(' ')}}">
{% endmacro row_start %}

{% macro row_end() %}
  </div>
{% endmacro row_end %}

{% macro col_start(breakpoint = '', classes = []) %}
  {% if classes is not iterable %}
    {% set classes = [classes] %}
  {% endif %}
  {% if breakpoint is empty %}
    {% set classes = ['col']|merge(classes) %}
  {% else %}
    {% set classes = ['col-'~breakpoint]|merge(classes) %}
  {% endif %}
  <div class="{{classes|join(' ')}}">
{% endmacro col_start %}

{% macro col_end() %}
  </div>
{% endmacro col_end %}

{#
  @var string|null breakpoint
#}
<div class="container{% if breakpoint is defined and breakpoint is not empty %}-{{breakpoint}}{% endif %}">
  {% block content %}{% endblock content %}
</div>
